<!DOCTYPE html>

<html>
<head>
    <title>Wealth & Freedom Blog - {{ category.name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>
<div id="wrap">
{% block content %}
<div id="header"><h2>Wealth & Freedom Blog</h2></div>
<div id="nav"></div>
<div id="search"></div>
<div id="main">
{% if article_by_category %}
    <ul>
        {% for article in article_by_category %}
            <h3>{{ article.title }}</h3>
            {{ article.content|safe|linebreaks|truncatewords:100 }} <a href="/blog/{{ article.id }}/">[read more]</a>
            <br />
            <br />
            {% if article.attachment_set.all %}
                Notice: This article contains attachments. <a href='/blog/attachment/{{ article.id }}'>[Get Attachments]</a>
            {% endif %}
            <font size="2"><p align = "right">Edited by {{ article.author }} at {{ article.pub_date }}</p></font>
            <p><hr>
        {% endfor %}
    </ul>
{% else %} 
    <h3>There is not any article.</h3>
{% endif %}
{% endblock %}
</div>
<div id="sidebar"></div>
<div id="footer"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Wealth & Freedom</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Bo Lan</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</div>
</div>
</body>

<script>
$("#sidebar").load("/blog/archive_index/");
$("#nav").load("/blog/category/");
$("#search").load("/blog/search/");
</script>
</html>
