<!DOCTYPE html>
<html>
<head>
    <title>Wealth & Freedom Blog - {{ article.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
</head>

<body>
<div id="wrap">
<div id="header"><h2>Wealth & Freedom Blog</h2></div>
<div id="nav"></div>
<div id="search"></div>
<div id="main">
<ul>
    <h3>{{ article.title }}</h3>
    {{ article.content|safe|linebreaks }}
    <br />
    {% if article.attachment_set.all %}
    <br />
    Attachments:
    {% for attachment in article.attachment_set.all %}
    <a href="{{ MEDIA_URL }}{{ attachment.attachments }}">{{ attachment.filename }}</a>; 
    {% endfor %}
    {% endif %}
    <br />
    <br />
    <font size="2"><a href="/blog/">Return to blog index page</a></font>
    <font size="2"><p align = "right">Edited by {{ article.author }} at {{ article.pub_date }}</p></font>
</ul>
<ul id="comment_list">
    <h4>Comments: </h4>
    {% if article.comment_set.all %}
        {% for comment in comment_in_article %}
        <p>{{ comment.comment|linebreaks }}</p>
        <p>&nbsp &nbsp &nbsp &nbsp -- {{ comment.name }} &nbsp &nbsp &nbsp &nbsp <font size="2">{{ comment.pub_date }}</font></p>
        <br />
        {% endfor %}
    {% else %}
    <p>There is not any comment.</p>
    <p><hr></p>
    {% endif %}
    <table id="comment">
    <form name="comment" method="post" action="">{% csrf_token %}
        {{ comment_formset }}
        {{ captcha_form }}
    </table>
        <input type="submit" value="Submit" />
    </form>
</ul>
</div>
<div id="sidebar"></div>
<div id="footer"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Wealth & Freedom</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Bo Lan</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.</div>
</div>
</body>

<script>
$("#sidebar").load("/blog/archive_index/");
$("#nav").load("/blog/category/");
$("#search").load("/blog/search/");
</script>
</html>
